h1{
    background-color: blanchedalmond;
    text-align: center;
}

a>ion-icon{
    height: 50px;
    width: 50px;
    margin-left: 0;
    margin-right: 0;
    background-color: aqua;
    border: 2px solid rgb(60, 102, 240);
    margin-left: 20px;
    border-radius: 10px;
    position: absolute;
    top: 3px;
}

tbody tr:focus{
  background-color: grey;
}

#tbl-members{
    th:first-child,
    tbody td:first-child{
      max-width: 170px;
      min-width: 110px;
      word-break: keep-all;//when becoming thin word should not break
      white-space: nowrap;
      text-overflow: ellipsis;//to show the overflow as three dots
      overflow: hidden;
    }

    th:nth-child(2),
    tbody td:nth-child(2){
        width: 250px;
        text-align: left;
    }


    th:nth-child(4),
    tbody td:nth-child(4){
        width: 150px;
        text-align: center;
        
    }
}
.empty tfoot{
    display: table-footer-group;
}


